
*{
  background-color: #1f1f1f;
  color:white;
}

.App {
  text-align: center;
}

.main{
  padding:15px;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.scoreContainer{
  background-color: #282c34;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.scoreContainer>div{
  padding: 5px 30px;
  background-color: rgb(173, 173, 173);
  color: #282c34;
  border-radius:  10px;
  margin-bottom: 15px;
  font-weight: bold;
}

.container{
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  background-color: #282c34;
}

.card{
  background-color: rgb(173, 173, 173);
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  border: solid 2px rgb(173, 173, 173);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card > img {
  border-radius: 5px;
}

.card>small{
  position: absolute;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.5);
}

.header{
  background-color: #1f1f1f;
  color:white;
  
}

.footer{
  background-color: #1f1f1f;
  color:white;
  padding: 20px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
